div {
    background-color: yellow;
    margin: 6px;
    height: auto;
    text-align: center;
    column-count: 2;
}

#p1 {
    background-color: blue;
    position: relative;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

#p2 {
    background-color: green;
    width: 250px;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}