body{
    background-color: palevioletred;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



h1 {
    background-color: green;
    font-size: 2.4rem;
    font-weight: bold;
    text-decoration: underline;
    text-transform: capitalize;
    margin: 0;
    text-align: center;

    border-right: 5px lightgreen solid;
}

ul {
    background-color: blueviolet;
}

p {
    font-size: 1.8rem;
}

.first-paragraph {
    background: url("craft.jpg") fixed;
    letter-spacing: 0.4em;
    word-spacing: 0.6em;
    width: 400px;
    text-align: justify;
}

#second-paragraph { 
    background: url("craft.jpg");
    font : italic bold 100% Arial, Helvetica, sans-serif;
}

#menu {
    list-style-type: square;
    list-style-position: inside;
}

img {
    border: 0;
}